* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *::before,
  *::after {
    box-sizing: border-box;
  }

ol, 
ul, 
menu {
    list-style:none;
}

a {
    text-decoration:none;
    color:inherit;
}

html, 
body {
    scroll-behavior:smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style:normal;
    font-weight:400;
}

.container {
    max-width:1200px;
    width:100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header-inner {
    display:flex;
    justify-content: space-between;
}

.header-list {
    display:flex;
    gap:30px;
    align-items:center;
}

.banner {
    background-image:url(Banner\ Background.jpg);
    min-height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
}

.banner-inner {
    align-items:center;
    text-align:center;
і}

.header-item {
    color:white;
    width:18px;
    font-weight:400px;
}

.banner h1 {
    font-size:55px;
    font-weight:300;
    color:white;
}

.banner p {
    font-size:22px;
    font-weight:400;
    color: white;
    padding-top:25px;
    padding-bottom:25px;
}

.btn {
    color:#e9e9e9;
    width:fit-content;
    height:40px;
    padding:10px 30px 10px 40px;
    border-radius:7px;
    align-items:center;
    margin: 0 auto;
    justify-content:center;
    font-size:20px;
    display:flex;
    margin-right: 6 px;
}

.btn-main {
    background-color:#28A745;
}

.services-list {
    display: flex;
    padding: 40px 0 20px 0;
    gap:70px;
    padding:50px;
}

.services-item i {
    width:67px;
    height:67px;
    background:green;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    margin:0 auto;
}

.services-item img {
    max-width:100%;
    height:auto;
}

.services-item {
    text-align:center;
    color:#333333;
}

.services-title {
    font-size:20px;
    padding:15px 0;
}

.solution{
    background-color:#28A745;
    color:white;
    font-weight:400;
}

.solution-inner {
    display:flex;
    align-items:center;
}

.solution-inner-img {
    width:50%;
    height:auto;
}

.solution-inner-img img {
    height:100%;
    object-fit:cover;
    width:100%;
    display:flex;
}

.solution-inner-text {
    max-width:680px;
    padding-left:30px;
    line-height:48px;
    padding-bottom:26px;
}

.solution-inner-text p {
    padding-bottom:17px;
}

.solution-title {
    font-size:20px;
}

.business {
    margin-top:50px;
}

.btn-second {
    margin:0;
    border:none;
    box-shadow: inset 0 0 0 1px #fff;
    background:#28A745;
}

.btn-second:hover{
    background:#FFFFFF;
    color:#333333;
    transition:0.3s;
}

.business-list {
    display:flex;
    flex-wrap:wrap;
    gap:8px;
}

.business-list li{
    width:calc(25% - 6px);
}

.business-list img {
    width:100%;
}

.business-title {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #333333;
  padding-bottom: 15px;
}

.business h2 {
  font-weight: 300;
  font-size: 38px;
  text-align: center;
  color: #333333;-
  padding-bottom: 35px;
}

.business-title2 {
  font-weight: 400;
  font-size: 18px;
  text-align
color: #333333;
  padding-bottom: 15px;
}

.business h2 {
  font-weight: 300;
  font-size: 38px;
  text-align: center;
  color: #333333;-
  padding-bottom: 35px;
}

.business-text {
    padding-bottom:20px;
}

.blog-inner-text h2 {
    font-weight:300;
    font-size:30px;
}

.blog-title {
    font-size:20px;
}

.blog-inner-text-p{
    padding-bottom:17px;
}

.professional {
    text-align:center;
}

.professional-title {
    padding-bottom:16px;
}

.professional h2 {
    padding-bottom:22px;
}

.professional-bottom2 {
    padding-bottom:34px;
}

.professional-list {
    display:flex;
    align-items:center;
    gap:20px;
}

.professional-item img {
    height:280px;
}

.professional h3 {
    padding-bottom:13px;
}

.professional-list p {
    font-weight:400;
    font-size:10px;
    color:#333333;
}

.symbol {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    align-items:center;
    gap:20px;
    opacity:0;
    visibility:hidden;
    pointer-events:none;
    transition:0.3s;
}

.symbol:hover{
    opacity:1;
    visibility:visible;
}

.professional-image-container{
    position:relative;
}

.professional-image-container:hover .symbol{
    opacity:1;
    visibility:visible;
}

.callback {
    padding-top:50px;
}

.callback-inner {
    display:flex;
    justify-content:space-between;
}

.callback form {
    display:flex;
    flex-direction:column;
    weight:50%;
    padding:0 10px;
    justify-content:center;
}

.callback form input {
    outline:none;
    padding:5px;

}

.btn-form {
    background:#28A745;
    margin:0;
}

.img-container {
    width:50%;
    height:auto;
}

.reg-img {
    height:100%;
    width:100%;
    object-fit:cover;
    object-position:center;
}

.copyright-inner {
    height:110px;
    background:#333333;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:10px;
}

.copyright-inner p {
    font-weight:400;
    font-size:10px;
    text-align:center;
    color:#FFFFFF;
}