ol, 
ul, 
menu {
    list-style:none;
}

a {
    text-decoration:none;
    color:inherit;
}

html, 
body {
    scroll-behavior:smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style:normal;
    font-weight:400;
}

.container {
    max-width:1200px;
    width:300px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-inner {
    display:flex;
    justify-content: space-between;
}

.header-list {
    display:flex;
    gap:30px;
    align-items:center;
}

.banner {
    background-image:url(Banner\ Background.jpg);
    min-height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
}

.header-item {
    color:white;
    width:18px;
    font-weight:400px;
}

.banner h1 {
    font-size:55px;
    font-weight:300;
    color:white;
}

.banner p {
    font-size:22px;
    font-weight:400;
    color: white;
    padding-top:25px;
    padding-bottom:25px;
}

.btn {
    
}